<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="prod">
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
            <withJansi>true</withJansi>
            <encoder>
                <pattern>%green(%.-5level) [%.15thread] %cyan(%d{HH:mm:ss.SSS}) %yellow(%-25.25logger) %white(%msg) %n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}/}server.log}"/>
            <file>${LOG_FILE}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>server.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <!-- keep 30 days' worth of history capped at 3GB total size -->
                <maxHistory>30</maxHistory>
                <totalSizeCap>1GB</totalSizeCap>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread%X{cubaApp}%X{cubaUser}] %logger - %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <property name="log.root.level" value="${LOG_ROOT_LEVEL:-INFO}"/>
        <property name="log.app.level" value="${LOG_HTTP_REQUESTS_LEVEL:-INFO}"/>
        <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter">
            <level value="${log.app.level}"/>
        </logger>
        <root level="${log.root.level}">
            <appender-ref ref="stdout"/>
            <appender-ref ref="file"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
            <withJansi>true</withJansi>
            <encoder>
                <pattern>%green(%.-5level) [%.15thread] %cyan(%d{HH:mm:ss.SSS}) %yellow(%-45.45logger) %white(%msg) %n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>

        <property name="log.root.level" value="${LOGGING_LEVEL_ROOT:-DEBUG}"/>

        <root level="${log.root.level}">
            <appender-ref ref="stdout"/>
        </root>
    </springProfile>

</configuration>
